<header class="header_background">
    <header class="header_container">
        <div class="header_logo">
            <a class="header_logo" href="{% url 'principal:home' %}"> WILLY P.</a>
        </div>
        <div class="header_boxes">
            <a class="header_link" href=""> Projects</a>
            <a class="header_link" href=""> Works</a>
            <a class="header_link" href=""> Experience</a>
            <a class="header_link" href=""> Contact</a>
        </div>
    </header>
</header>
