:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;
    --color-chrysler_blue: #4923de;
    --color-madder: #9E0031;
    --color-chocolate_cosmos: #44001A;
    --color-persian_green: #1B998B;
    --color-non_photo_blue: #8AC6D0;
    --color-razzmatazz: #E40066;
    --color-razzmatazz-header: #4823de5e;
    --color-ultra_violet: #484D6D;
    --color-sky-600: #0284c7;
    --color-home-background: #7D53DE;
    --color-header-background: #7d53de8a;
    --color-introducing: #001929;
    --color-black-veil: #00000080;
  
    --color-white: #fff;
    --color-black: #000;
  
    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;
  
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;
  
    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;
  
    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;
    --font-poiret_one: 'Poiret One', serif;
    --font-tilt_prism: 'Tilt Prism', cursive;
    --font-courgette: 'Courgette', cursive;
    --font-lobster: 'Lobster', cursive;
    --font-poiret_one: 'Poiret One', cursive;
    --font-fredericka: 'Fredericka the Great', cursive;
    --font-satisfy: 'Satisfy', cursive;
    --font-rem: 'REM', serif;
    --font-limelight: 'Limelight', cursive;
  
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-width: 0;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background: var(--color-gray-1);
    color: var(--color-dark-text);
    margin: auto;
    overflow-x: hidden;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-headings);
  }

  img {
    max-width: 100%;
  }

  a {
    color: var(--color-primary);
    text-decoration: none;
  }

  /* Header */  /* Header */  /* Header */  /* Header */  /* Header */  /* Header */  /* Header */  /* Header */ 
  .header_background {
    background: var(--color-introducing);
  }

  .header_container {
    background-color: var(--color-black-veil);
    display: flex;
    border-bottom-width: 2px;
    border-style: outset;
    border-bottom-color: var(--color-gray-2);
    justify-content: space-between;
    padding: 2rem 0 2rem 2rem;
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
  }

  .header_boxes {
    display:inline-table;
    align-items: end;
  }
  
  .header_link {
    padding: 4rem 2rem 29px;
    font-size: large;
    font-family: var(--font-rem);
    transition: all 300ms ease-in-out;
    color: var(--color-white);
  }
  
  .header_link:hover {
    background-color: var(--color-introducing);
  }
  
  .header_logo {
    font-family: var(--font-poiret_one);
    font-weight: bold;
    color: var(--color-white);
    font-size: xx-large;
    font-style: italic;
    text-transform: uppercase;
  }
  
  @media (max-width: 512px) {
    .header_link {
      padding: 1rem;
      font-size: large;
      font-family: var(--font-rem);
      transition: all 300ms ease-in-out;
      color: var(--color-white);
    }

    .header_boxes {
      display: flex;
      flex-wrap: wrap;
    }
    
    .header_logo {
      padding-bottom: 1rem;
    }

    .header_container {
      padding: 2rem 0 1rem 2rem;
    }
  }

  /* Footer */   /* Footer */   /* Footer */   /* Footer */   /* Footer */   /* Footer */   /* Footer */   /* Footer */ 
  
  .footer_background {
    background: var(--color-introducing);
  }

  .footer_container {
    height: 5.5rem;
    font-size: x-small;
    background-color: var(--color-black-veil);
    align-items: center;
    border-top-width: 2px;
    border-style: outset;
    border-top-color: var(--color-gray-7);
    display: flex;
    padding: 0.5rem;
    justify-content: space-around;
    max-width: 100%;
    font-family: var(--font-rem);
    color: var(--color-white);
    flex-direction: column;
  }

  .footer_container a {
    color: var(--color-white);
  }

  .footer_icon {
    display: inline-flex;
    justify-content: end;
    align-items: center;
  }

  .footer_icon span {
    padding-right: 0.5rem;
  }
  
  .footer_icon img {
    padding-top: 0.5rem;
  }

  /* Principal *//* Principal *//* Principal *//* Principal *//* Principal *//* Principal *//* Principal *//* Principal */

  /* Home */  /* Home */  /* Home */  /* Home */  /* Home */  /* Home */  /* Home */  /* Home */  /* Home */  /* Home */

  .home_container {
    background: var(--color-home-background);
    position: relative;
  }

  .home_gradient {
    background: linear-gradient(45deg, black 10%, transparent);
  }

  /* Intro Home */  /* Intro Home */  /* Intro Home */  /* Intro Home */  /* Intro Home */  /* Intro Home */  /* Intro Home */

  .intro_container {
    margin-bottom: 3rem;
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }

  .intro_positioner {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
  }

  .intro_image {
    height: 33rem;
    margin-left: 2rem;
    position: static;
    border-radius: 0.375rem;
  }

  .intro_text {
    margin-left: 1rem;
  }

  .intro_title {
    color: var(--color-white);
    display: flex;
    justify-content: flex-end;
    font-family: var(--font-rem);
    font-weight: bolder;
    font-size: xx-large;
    white-space: normal;
  }

  /* About Me Home */  /* About Me Home */  /* About Me Home */  /* About Me Home */  /* About Me Home */  /* About Me Home */

  .about_container {
    display: flex;
    justify-content: end;
    height: 16.04rem;
    font-family: var(--font-rem);
    align-items: flex-end;
    margin-bottom: 20rem;
  }

  .about_panel {
    background-color: var(--color-white);
    background-clip: padding-box;
    width: 55%;
    border-radius: 1rem 0 0 1rem;
    height: fit-content;
    padding: 3rem 0.5rem 2.8rem 3rem;
    position: absolute;
    border-color: var(--color-gray-5);
    transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  }
  
  .about_panel_hidden {
    transform: translateX(-250vh);
    transition: transform 1s ease-out;
  }
  
  /* Project Home */  /* Project Home */  /* Project Home */  /* Project Home */  /* Project Home */  /* Project Home */

  .project_container {
    display: flex;
    justify-content: center;
    height: fit-content;
    font-family: var(--font-rem);
  }

  .project_panel img {
    max-width: 6rem;
    max-height: 6rem;
    margin: 2rem;
    border-radius: 5px;
  }

  .project_panel {
    box-shadow: 5px 5px gray;
    display: flex;
    width: 30rem;
    background-color: var(--color-gray-2);
    margin: 0 5rem 10rem 5rem;;
    justify-content: space-evenly;
    border-radius: 10px;
    transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    flex-direction: column;
    align-items: center;
  }

  .project_panel:hover {
    transform: scale(110%);
    transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .project_panel span {
    font-family: var(--font-rem);
    padding-left: 1rem;
  }

  .project_panel div {
    margin-bottom: 2rem;
  }
  
  .project_menu_open {
    border-bottom-color: var(--color-gray-6);
    display: flex;
    height: fit-content;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  #twitch_desc {
    box-shadow: 5px 5px var(--color-home-background);
  }
  
  #ftr_desc {
    box-shadow: 5px 5px var(--color-non_photo_blue);
  }
  
  #js_desc {
    box-shadow: 5px 5px var(--color-warning-dark);
  }
  
  #django_desc {
    box-shadow: 5px 5px var(--color-persian_green);
  }
  
  .project_panel_close {
    width: 55%;
    position: absolute;
  }
  
  .project_panel_open {
    width: 55%;
    position: absolute;
  }

  .project_button {
    box-shadow: 2px 2px var(--color-gray-5);
    cursor: pointer;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
    color: var(--color-white);
    background-color: var(--color-home-background);
    font-family: var(--font-rem);
  }

  .project_button i {
    padding-left: 1rem;
  }