<div class="about_container">
    <div class="about_panel about_panel_hidden" id="aboutme">
        <div class="about_panel_margin">
            <p>
                Sou um jovem desenvolvedor e já tenho alguns projetos em progresso e pensando em projetos futuros,
                iniciei com desenvolvimento web mas estou focando em uma programação mais abrangente, como Java, JavaScript e Python.
                Embora já demonstrasse um grande interesse na área de Tecnologia da Informação em um geral, descobri que minha preferência era por programação.
                Desde então, tenho estudado algumas linguagens que acrescentam em alguns de meus projetos.
            </p>
        </div>
    </div>
</div>