<div class="about_container">
    <div class="about_panel about_panel_hidden" id="aboutme">
        <div class="about_panel_margin">
            <p>
                Sou um projetista insano e já tenho alguns projetos em progresso e pensando em outros futuramente,
                iniciei com desenvolvimento web mas estou focando em uma programação mais abrangente, como Java, JavaScript, TypeScript e Python.
                Pela minha paixão em técnologia, realizando alguns estudos, descobri que minha preferência era por programação.
                Desde então, tenho estudado algumas linguagens que compõem meus atuais projetos.
            </p>
        </div>
    </div>
</div>