<div class="about_container">
    <div class="about_panel" id="aboutme">
        <div>
            <p>
                Sou um jovem desenvolvedor e já tenho alguns projetos em progresso e pensando em projetos futuros,
                iniciei com desenvolvimento web mas estou focando em uma programação mais abrangente, como Java, JavaScript e Python.
                Embora já demonstrasse um grande interesse na área de Tecnologia da Informação em um geral, descobri que minha preferência era por programação.
                 Desde então, tenho estudado algumas linguagens que acrescentam em alguns de meus projetos.
            </p>
        </div>
    </div>
    <div class="project_title">
        <h1>
            PROJETOS
        </h1>
    </div>
</div>