<div class="course_container">
    <div class="course_title_container">
        <h2 class="course_title">
        Course Progress
        </h2>
    </div>
    <div class="course_progress_container">
        <div>
            <img src="/media/django-progress.png" alt="Django Progress 90%" class="course_icon">
            <div class="course_django"></div>
        </div>
        <div>
            <img src="/media/python-progress.png" alt="Python Progress 20%" class="course_icon">
            <div class="course_python"></div>
        </div>
        <div>
            <img src="/media/js-progress.png" alt="Java Script W.I.P" class="course_icon">
            <div class="course_js"></div>
        </div>
        <div>
            <img src="/media/ts-progress.png" alt="Type Script W.I.P" class="course_icon">
            <div class="course_ts"></div>
        </div>
        <div>
            <img src="/media/java-progress.png" alt="Java W.I.P" class="course_icon">
            <div class="course_java"></div>
        </div>
        <div>
            <img src="/media/wf-progress.png" alt="Web Frontend W.I.P" class="course_icon_larger">
            <div class="course_frontend"></div>
        </div>
    </div>
</div>