<div class="project_container">
    <div class="project_menu_open" id="project_panel">
        <div id="twitch_desc">
            <img src="/media/Twitch-icon-purple.png" alt="SoldadoZuero Streamer Project">
            <div>

            </div>
        </div>
        <div id="ftr_desc">
            <img src="/media/For-the-Reign-Icon.png" alt="For the Reign Project">
            <div>
                
            </div>
        </div>
        <div id="fabric_desc">
            <img src="/media/fabric-icon.png" alt="For the Reign Mod Project">
            <div>
                
            </div>
        </div>
        <div id="django_desc">
            <img src="/media/django-progress.png" alt="Web Portfolio Project">
            <div>
                
            </div>
        </div>
    </div>
</div>