<div class="project_container">
    <div class="project_menu_open" id="project_panel">
        <div>
            <img src="/media/Twitch-icon-purple.png" alt="SoldadoZuero Streamer Project">
        </div>
        <div>
            <img src="/media/For-the-Reign-Icon.png" alt="For the Reign Project">
        </div>
        <div>
            <img src="/media/fabric-icon.png" alt="For the Reign Mod Project">
        </div>
        <div>
            <img src="/media/django-progress.png" alt="Web Portfolio Project">
        </div>
    </div>
</div>