<div class="project_container">
    <div class="project_menu_open" id="project_panel">
        <div class="project_panel" id="twitch_desc">
            <img src="/media/Twitch-icon-purple.png" alt="SoldadoZuero Streamer Project">
            <div>
                <i class="fa-solid fa-check"></i><span>Conseguir afiliação</span>
            </div>
            <div>
                <i class="fa-solid fa-check"></i><span>300 Seguidores</span>
            </div>
            <div>
                <i class="fa-solid fa-wrench"></i><span>Servidor do Discord</span>
            </div>
            <div>
                <i class="fa-solid fa-wrench"></i><span>Chatbot</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>Repaginar emotes</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>Trailer do canal</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>Conseguir parceria</span>
            </div>
        </div>
        <div class="project_panel" id="ftr_desc">
            <img src="/media/For-the-Reign-Icon.png" alt="For the Reign Project">
            <div>
                <i class="fa-solid fa-check"></i><span>Modpack</span>
            </div>
            <div>
                <i class="fa-solid fa-check"></i><span>Lobby</span>
            </div>
            <div>
                <i class="fa-solid fa-check"></i><span>Servidor do Discord</span>
            </div>
            <div>
                <i class="fa-solid fa-check"></i><span>Trailer do servidor</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>Servidor de Hospedagem</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>Servidor de Hospedagem</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>Lançamento oficial</span>
            </div>
        </div>
        <div class="project_panel" id="django_desc">
            <img src="/media/django-progress.png" alt="Web Portfolio Project">
            <div>
                <i class="fa-solid fa-check"></i><span>Landing Page</span>
            </div>
            <div>
                <i class="fa-regular fa-wrench"></i><span>Demais páginas</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>Integração com Twitch</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>Integração com Instagram</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>Integração com TikTok</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>Integração com For The Reign</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>Deploy</span>
            </div>
        </div>
        <div class="project_panel" id="js_desc">
            <img src="/media/icons8-javascript.svg" alt="JavaScript Project">
            <div>
                <i class="fa-solid fa-check"></i><span>Básico</span>
            </div>
            <div>
                <i class="fa-solid fa-book-open-reader"></i><span>Lógica de programação</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>P.O.O.</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>Assíncrono</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>NodeJS</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>API REST</span>
            </div>
            <div>
                <i class="fa-regular fa-hourglass-half"></i><span>React</span>
            </div>
        </div>
    </div>
</div>